<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecell.icamp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icamp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icamp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.Activity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Main.Activity_Landing"/>
        <activity android:name=".Main.Activity_Login"/>
        <activity android:name=".Main.Activity_GotoDashboard"/>

        <activity android:name=".Student.Student_Dashboard"/>
        <activity android:name=".Student.Student_Registration"/>
        <activity android:name=".Student.Activity_Payment"/>

        <activity android:name=".Company.Company_Dashboard"/>
        <activity android:name=".Company.Company_Registration"/>
        <activity android:name=".Company.Activity_Student_Resume"/>


        <activity android:name=".Notification.CreateNotificationActivity"/>
        <activity android:name=".Notification.NotificationReceiverActivity"/>

        <service
            android:name=".Notification.BackgroundService"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.ecell.icamp.BackgroundService" />
            </intent-filter>
        </service>

        <receiver android:name=".Notification.StartAtBoot" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>